@import "fonts.scss";
$light_font: 'titillium_weblight';
$light_italic_font: 'titillium_weblight_italic';
$thin_font: 'titillium_webthin';
$thin_italic_font: 'titillium_webthin_italic';
$regular_font: 'titillium_webregular';
$italic_font: 'titillium_webitalic';
$semibold_font: 'titillium_websemibold';
$semibold_italic_font: 'titillium_websemibold_italic';
$bold_font: 'titillium_webbold';
$bold_italic_font: 'titillium_webbold_italic';
$black_font: 'titillium_webblack';

$main_color: #f91b58;
$main_hover: #c80f42;
$second_color: #53354A;
$second_hover: #7a4b6c;
$back_color: #2f2f2f;
